{% extends "core/principal.html" %}
{% load humanize %}
{% load staticfiles %}
{% block detalle %}

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                {% if mensaje %}
                    <div class="col-lg-12">
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="fa fa-check-circle"></i>  <strong>EXITOSO</strong> {{ mensaje }}
                        </div>
                    </div>
                {% endif %}
                <form class="form-horizontal " role="form" action="{% url 'ahorros' %}" method="post">
                    {% csrf_token %}

                    <div class="col-lg-12">
                        <h1 class="page-header">
                            APORTACIONES <small>Vista usuario</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Fondo de pensiones
                            </li>
                        </ol>

                    </div>
                    {% if fondo_form.errors %}
                        <span class="label label-danger">CAMPOS REQUERIDOS...</span>
                    {% endif %}
                    <div class="form-group col-sm-12">
                        <label class="col-sm-1 control-label">Tipo de fondo</label>
                        <div class="col-sm-2 {% if fondo_form.tipo_fondo.errors %} has-error {% endif %}">
                            {{ fondo_form.tipo_fondo }}
                        </div>
                        <label class="col-sm-1 control-label ">T E A</label>
                        <div class="col-sm-2 {% if fondo_form.tea.errors %} has-error {% endif %}">
                            {{ fondo_form.tea }}
                        </div>
                        <label class="col-sm-1 control-label ">Ahorros</label>
                        <div  class="col-sm-5 alert-info">
                            <h3 align="center"><strong>S/ {{ fondo_form.instance.ahorro }}</strong></h3>
                        </div>
                        <div class="hide col-sm-1">
                            {{ fondo_form.persona }}
                        </div>

                    </div>
                    {% if aportacion_form.errors %}
                        <span class="label label-danger">CAMPOS REQUERIDOS...</span>
                    {% endif %}
                    <div class="form-group col-sm-12">
                        <label class="col-sm-1 control-label">Sueldo</label>
                        <div class="col-sm-2 {% if aportacion_form.sueldo.errors %} has-error {% endif %}">
                            {{ aportacion_form.sueldo }}
                        </div>
                        <label class="col-sm-1 control-label ">Fecha Ini.</label>
                        <div class="col-sm-2 {% if aportacion_form.fecha_inicio.errors %} has-error {% endif %}">
                            {{ aportacion_form.fecha_inicio }}
                        </div>
                        <label class="col-sm-1 control-label ">Fecha Fin.</label>
                        <div class="col-sm-2 {% if aportacion_form.fecha_fin.errors %} has-error {% endif %}">
                            {{ aportacion_form.fecha_fin }}
                        </div>
                        <label class="col-sm-1 control-label ">Monto</label>
                        <div class="col-sm-2 {% if aportacion_form.monto.errors %} has-error {% endif %}">
                            {{ aportacion_form.monto }}
                        </div>


                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-offset-8 col-md-4">
                            <button type="submit" class="btn btn-success" onclick="return confirm('¿Desea guardar los cambios?')">Guardar</button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- /.row -->


            <!-- /.row -->

        </div>
                <!-- /.container-fluid -->

    </div>

    <script>
        window.onload = function() {
            $("#ahorros").addClass('active');
            $('.datepicker').datepicker({
                format: "dd/mm/yyyy"
            });
            $("#id_sueldo").keyup(function(){
                var sueldo = parseFloat($("#id_sueldo").val());
                por_aport = parseInt("{{ por_aportacion }}");
                $("#id_monto").val((sueldo*por_aport/100).toFixed(2));
            });
        };
    </script>
    <!-- Morris Charts JavaScript -->
{% endblock %}
