{% extends "core/principal.html" %}
{% load humanize %}
{% load staticfiles %}

{% block detalle %}

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                {% if mensaje %}
                <div class="col-lg-12">
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <i class="fa fa-check-circle"></i>  <strong>EXITOSO</strong> {{ mensaje }}
                    </div>
                </div>
                {% endif %}
                <form class="form-horizontal " role="form" action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                    {% if persona_form.errors %}
                        <span class="label label-danger">CAMPOS REQUERIDOS...</span>
                    {% endif %}
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            MIS DATOS <small>Vista usuario</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Mis Datos
                            </li>
                        </ol>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-1 control-label">DNI</label>
                        <div class="col-sm-2 {% if persona_form.dni.errors %} has-error {% endif %}">
                            {{ persona_form.dni }}
                        </div>
                        <label class="col-sm-1 control-label ">Fecha Nac.</label>
                        <div class="col-sm-2 {% if persona_form.fecha_nacimiento.errors %} has-error {% endif %}">
                            {{ persona_form.fecha_nacimiento }}
                        </div>
                        <label class="col-sm-1 control-label ">Nombres</label>
                        <div class="col-sm-5 {% if persona_form.nombre.errors %} has-error {% endif %}">
                            {{ persona_form.nombre }}
                        </div>
                        <div class="hide col-sm-1">
                            {{ persona_form.usuario }}
                        </div>

                    </div>

                    <div class="form-group col-sm-12">
                        <label class="col-sm-1 control-label"> Sexo </label>
                        <div class="col-sm-2 {% if persona_form.sexo.errors %} has-error {% endif %}">
                            {{ persona_form.sexo }}
                        </div>
                        <label class="col-sm-1 control-label">Estado civil</label>
                        <div class="col-sm-2 {% if persona_form.estado_civil.errors %} has-error {% endif %}">
                            {{ persona_form.estado_civil }}
                        </div>
                        <label class="col-sm-1 control-label">Apellidos</label>
                        <div class="col-sm-5 {% if persona_form.apellido.errors %} has-error {% endif %}">
                            {{ persona_form.apellido }}
                        </div>

                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-offset-8 col-md-4">
                            <button type="submit" class="btn btn-success" onclick="return confirm('¿Desea guardar los cambios?')">Guardar</button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- /.row -->


            <!-- /.row -->

        </div>
                <!-- /.container-fluid -->

    </div>

    <script>
        window.onload = function() {
            $("#datos").addClass('active');
            $('.datepicker').datepicker({
                format: "dd/mm/yyyy"
            });
        };
    </script>

    <!-- Morris Charts JavaScript -->
{% endblock %}
