{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    
    <nav id="head" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    
        <div class="container-fluid ">
            
            <div class="navbar-header">
                
                <a href="{% url 'home' %}" class="navbar-brand" ><span class="icon-dollar"></span> UPC - AFP</a>
                
            </div>
            <div class="collapse navbar-collapse ">
                
                {% block menu %}
                {% endblock %}

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                          <i class = "icon-user"></i>
                          {{ user.username }}
                          <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">

                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                      </ul>
                    </li>
                </ul>
                {% block menu_princ %}
                {% endblock %}
                

            </div>
        </div>
    
    </nav>

    {% block contenido %}
    {% endblock %}
    {% block extrawindows %}
    {% endblock %}

{% endblock %}
