{% extends 'base.html' %}
{% load staticfiles %}
{% block extrahead %} 
	<link rel="stylesheet" media="screen" href="{% static 'css/login.css' %}" >
	
{% endblock %}
{% block content %}
    <style>
body  {
    background-image: url({% static 'images/fondo7.jpg' %});
    background-size: 100% 100%;
}
</style>
	<div>
		<div class="container " >
			<div class="grid fluid">

				<div class="row ">
					<div class="col-lg-2">

	                </div>
					<div class="col-lg-8">
						<div class="">
							<div class="row">
								<div class="col-lg-6">
	                                <p align="center">
	                                    <br><br>
	                                    <img   src="{% static 'images/page.png' %}" alt="Generic placeholder image" style="width: 350px; height: 379px;">
	                                </p>
	                            </div>
								<div class="col-lg-6">
									<h1>
										<i class="fa fa-inverse fa-money white" ></i>
										<span style="color:#ffffff">AFP - UPC</span>
									</h1>
									<br>
									
									{% if error  %}
										<div class="row-bordered bg-spink">
											<div class="row">
												<div class="col-lg-1 text-center">
													<i class="icon-warning fg-amber"></i>
												</div>
												<div class="col-lg-11">
													{{ error }}
												</div>
											</div>
										</div>
									{% else %}
									 <div style="color:#ffffff; font-weight:600">Por favor ingrese los datos solicitados</div><br><br>
									{% endif %}
                                    {% block form %}
									<form  method="POST" action="{% url 'django.contrib.auth.views.login' %}">
										{% csrf_token %}
										<div class="row">
											<div class="col-lg-12 text-left">Usuario</div>
										</div>

										<div class="row">
											<div class="col-lg-12 text-left">
											    <input class="form-control text" type="text" name="username" placeholder=""  required tabindex="1">
											</div>
										</div>

										<div class="row">
											<div class="col-lg-12 text-left">Contraseña</div>
										</div>

										<div class="row">
											<div class="col-lg-12 text-left">
											    <input class="form-control" type="password" name="password" placeholder="" required tabindex="2"/>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-6 text-left">
												
											</div>
											<div class="col-lg-6 text-right" ><br>
												<button type="submit" class="btn-danger" ><strong>Ingresar</strong></button>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-12 text-left"><br>
												<small><span class="text-muted" >¿Aun no tiene una cuenta? </span><a href="{% url 'signup' %}" class="fg-darkBlue">Registrate</a></small>
											</div>
										</div>

									
									</form>
                                    {% endblock %}
								</div>	
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>

{% endblock %}