{% extends "core/home.html" %}
{% load humanize %}
{% load staticfiles %}
{% block contenido %}
<style type="text/css">
    .bg{
        width: 150px;
        height: 200px;
        margin: 10px;
        float: left;
        color: #fff;
        text-shadow: 2px 2px 2px #000;
        display: block;
        text-align: center;
    }
    body  {
        background-image: url({% static 'images/fondo7.jpg' %});
        background-size: 100% 100%;
    }


</style>

<!--<div class="form">-->

<div class="container">
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav affix ">
                <li class="active">
                    <a href="#overview">
                        <i class="icon-chevron-right" ></i>
                        MIS DATOS </a>
                </li>
                <li class=""><a href="#transitions"><i class="icon-chevron-right"></i> MIS AHORROS</a></li>
                <li class=""><a href="#transitions"><i class="icon-chevron-right"></i> MI FAMILIA</a></li>
                <li class=""><a href="#transitions"><i class="icon-chevron-right"></i> RENTABILIDAD</a></li>
                <li class=""><a href="#transitions"><i class="icon-chevron-right"></i> RESULTADOS</a></li>

            </ul>
        </div>
    </div>
</div>



	
{% endblock %}