{% extends "core/principal.html" %}
{% load humanize %}
{% load staticfiles %}
{% block detalle %}

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        RESULTADOS <small>Vista usuario</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Resultados
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->


            <!-- /.row -->

        </div>
                <!-- /.container-fluid -->

    </div>

    <script>
        window.onload = function() {
            $("#resultados").addClass('active');
        };
    </script>
    <!-- Morris Charts JavaScript -->
{% endblock %}
