{% extends "core/login.html" %}

{% block form %}
<form  method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
     <div class="row">
        <div class="col-lg-12 text-left">Email</div>
    </div>
     <div class="row">
        <div class="col-lg-12 text-left">
            <input class="form-control text" type="email" name="email" placeholder=""  required tabindex="1">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-left">Usuario</div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-left">
            <input class="form-control text" type="text" name="username" placeholder=""  required tabindex="1">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-left">Contraseña</div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-left">
            <input class="form-control" type="password" name="password" placeholder="" required tabindex="2"/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 text-left">

        </div>
        <div class="col-lg-6 text-right" ><br>
            <button type="submit" class="btn-success" ><strong>Registrarse</strong></button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-left"><br>
            <small><span class="text-muted" >¿Aun no tiene una cuenta? </span><a href="{% url 'login' %}" class="fg-darkBlue">Iniciar Sesión</a></small>
        </div>
    </div>


</form>
{% endblock %}