{% load staticfiles %}

<!DOCTYPE HTML>
<html id = "todo">
<head>
    <meta charset="UTF-8">



    <title>{% block title %}AFP - UPC{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
{#    <link href="{% static 'css/metro-bootstrap.css'%}" rel="stylesheet">#}
    <link href="{% static 'bootstrap/css/datepicker.css'%}" rel="stylesheet">
    <link href="{% static 'bootstrap/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/sb-admin.css'%}" rel="stylesheet">

{#    <link href="{% static 'css/metro-bootstrap-responsive.css'%}" rel="stylesheet">#}
{#    <link href="{% static 'css/iconFont.css'%}" rel="stylesheet">#}
{#    <link href="{% static 'css/fuente.css' %}" rel="stylesheet">#}
{#    <link href="{% static 'css/jquery.dataTables.css' %}" rel="stylesheet">#}
{#    <link href="{% static 'css/docs.css' %}" rel="stylesheet">#}
{#    <script src="{% static 'jquery.min.js' %}"></script>#}
{#    <script src="{% static 'jquery-ui-1.8.18.custom.min.js' %}"></script>#}

    <script src="{% static 'bootstrap/js/jquery.js' %} "></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'bootstrap/js/plugins/morris/raphael.min.js' %} "></script>
    <script src="{% static 'bootstrap/js/plugins/morris/morris.min.js' %} "></script>
    <script src="{% static 'bootstrap/js/plugins/morris/morris-data.js' %} "></script>
    <script src="{% static 'bootstrap/js/bootstrap-datepicker.js' %} "></script>
{#    <script src="{% static 'js/jquery.dataTables.min.js' %} "></script>#}
{#    <script src="{% static 'js/utilitarios.js' %} "></script>#}



{#    <link rel="stylesheet" media="screen" href="{% static 'bootstrap/css/docs.css' %}" #}
{#    <link href="{% static 'bootstrap/less/responsive.less' %}" type="text/css" rel="stylesheet/less">#}
{#    <link type="text/css" rel="stylesheet/less" href="{% static 'bootstrap/less/bootstrap.less' %}" >#}
{#    <script src="{% static 'jquery.min.js' %}"></script>#}
{#    <script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>#}
{#    <script src="{% static 'jquery-ui-1.8.18.custom.min.js' %}"></script>#}
{#    <script src="{% static 'less-1.3.0.min.js' %}"></script>-->#}


    {% block extrahead %} {% endblock %}
</head>

<body>


    {% block content %}{% endblock %}

<!-- SCRIPTS DE ANIMACION O DE AUXILIO -->
</body>


</html>