#head {
    background-color: #3A6E2F;
    border-color: #E9EF0D;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #2E569E;
    border-color: #2E569E;
    color: #EDE0E0;
}



.navbar-text.navbar-right:last-child,
.navbar>.container-fluid .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #EDE0E0;
}

label, td ,h2, legend, .panel-info>.panel-heading ,div{
    color: #686868;
}

.select2-result-label
{
    color: #FFFFFF;
}


thead {
    background-color: #428bca;
}

thead th  {
    font-weight: bold;
   color: #FFFFFF;
    border-bottom: 1px solid #111111;
}


label,thead,table, td, th{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:11px;
}

#dataTables_length {
    text-align: left;
    width: 15%;
}

#polizas_length {
}

#polizas_filter {
    text-align: left;
    width: 80%;
}

.short_input{
    width: 53px;
}
.small_input{
    width: 112px;
}

.small_label{
    width: 95px;
}

/*
.nuevo{
    width: 95px;
}
*/

#buscador {
    color: #101F95;
    width: 430%;
    height: 15px;
}


#id_prima_total,#id_total{
    font-weight: bold;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}


#prima_total,#total_factura{
    font-weight: bold;
}

.panel-body ,.well{
    background:#EEF9F8;
}


#id_afecto_detraccion{
    width: 35px;
    height: 18px;
    font-size:10px;
}



th.cia {
  /* Something you can count on */
  height: 90px;
  white-space: nowrap;
}

th.cia > div {
  transform:
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
    width: 30px;
}
th.cia > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}
span.name{

    font-size: 28px;
}

label{
    cursor:default;
}

