
a:hover {
    text-decoration: none;
}

img.back{
 	position: absolute;
 	top: 0;
 	left: 0;
 	z-index: -5;
}

form {
padding: 19px 29px 29px;
margin: 0 auto 20px;
background-color: #fff;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
form img {
	display: block;
	margin-left: auto;
	margin-right: auto
}


