/******** BASE **********/
@page {
	margin:1cm;
	@frame cabece{
	    -pdf-frame-content: cabece;
	}

	
}


.cabe {
	text-decoration: underline;
}
.general {
	
	margin-bottom: 0px;
	font-size: 13px;
}

.col-md-a {
	
	background-color: #E1102D;
	
	color : white;
	padding: 5px;
	padding-left: 10px;

}

.col-md-b {
	width: 5%;
	background-color: #fff;
}





.general>tbody>tr>td {
	border-top: 1px solid #fff;
}

.text-min {
	font-size: 1px;
}
/**********CABECERA************/

.cabecera {
	height: 110px;
	box-shadow: 0px 2px 6px #000;
}

.logo, {
	margin-top: 5px;
	position: relative;
	height: 100px;
	width: 150px;
}
.diagonal {
	height: 180px;
	width: 200px;
	position: relative;
	margin-bottom: 10px;

}


.titulo {
	background-color: #FF1420;
	height: 200px;
	width: 210mm;
	font-size: 18px;
}

.titulo h1 {
	margin-top: 35px;
	color: #fff;
	text-shadow: 1px 2px 3px #000;
}
/**********DATOS************/

.datos {
	margin-top: 10px;
	margin-left: 20px;
}

.txt-weight{
	font-weight: 400;
}

.datos_blank {}
/***********tabla ************/

.border {
	
	color: #000;
	
	
}

/*.table .col-md-a {
	vertical-align: middle;
}*/
.info{
	padding-top: 4px;
	background-color: #C4EAE8;
	font-size: 10px;
	font-weight: 400;
}

